body{
    background-color:rgb(151, 168, 169);
}
nav ul li a.active{
    color: rgb(174, 22, 22);
}
nav {
    background-color: #001412;
    height: 91px;
    width: 100%;
    border-radius: 20px;
}
ul {
    display: flex
;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 29px;
}
li{
    list-style: none;
}
a{
    font-size: 25px;
    text-decoration: none;
    color:salmon;
}
table{
    width: 100%;
    max-width: 500px;
    margin: 15px auto;
    text-align: center;
}
td{
    font-family: sans-serif;
    font-size: 17px;
}
th{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-left: 550px;
    margin-top: 20px;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
.add_btn{
        text-align: center;
        display: block;
        margin-bottom: 20px;
        padding: 20px;
        background-color: rgb(63, 23, 23);
        text-decoration: none;
        max-width: 700px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    label {
        font-size: 22px;
        font-family: sans-serif;
    }
    input {
        width: 100%;
        margin: 5px;
        border-radius: 5px;
        border: 1px solid black;
        height: 24px;
    }
    form{
        width: 100%;
        border: 1px solid black;
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
    }
    .submit_btn {
        background-color: #41bccd;
        width: 80px;
        text-align: center;
        margin-left: 202px;
        height: 34px;
    }
    h3 {
        text-align: center;
        font-size: 40px;
        color: brown;
        font-family: system-ui;
    }